/front/node_modules
/front/.idea
/front/.vscode
/front/.DS_Store
/api_lumen/public/hot
/api_lumen/public/storage
/api_lumen/storage/*.key
/api_lumen/storage/framework/cache/data
/api_lumen/vendor
/api_lumen/logs
/api_lumen/storage/logs
/.idea
/.vagrant
/.well-known
npm-debug.log
yarn-error.log
/api_lumen/.env
/api_lumen/.DS_Store
.vscode
.idea
.DS_Store
